@import "../App.scss";

.master {
    min-height: 100vh;
    background: $secondary-color;

    .custom-navbar {
        padding: 10px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        z-index: 99;

        img {
            height: 30px;
        }

        .btn {
            padding: 6px 7px;
        }
    }

    .main {
        @media (max-width: 992px) {
            padding-top: 75px;
        }

        @media (min-width: 992px) {
            margin-left: 270px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 20px;
        }
    }
}
